.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 288px);
  gap: 12px;
  margin-top: 64px;
}

@media (min-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, calc((768px - 48px - 16px)/2));
    gap: 16px;
    margin-top: 88px;
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, calc((1024px - 96px - 28px)/3));
    gap: 14px;
    margin-top: 92px;
  }
}

@media (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fit, calc((1280px - 96px - 48px)/4));
    gap: 16px;
  }
}
