.page__section_size_large {
  padding: 0;
}

@media (min-width: 1024px) {
  .page__section_size_large {
    padding: 0 48px;
  }
}

@media (min-width: 1280px) {
  .page__section_size_large {
    padding: 0 148px;
  }
}
