.intro {
  margin: 0 auto;
}

.intro__title {
  font-size: 32px;
  line-height: 1.1;
  font-weight: 900;
  margin: 64px 0 0;
}

.intro__text {
  font-size: 16px;
  line-height: 1.63;
  font-weight: 400;
  margin: 40px 0 0;
}

.intro__list {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  list-style: none;
  padding: 0;
  margin: 34px 0 0;
}

.photo-grid__item:nth-of-type(1) {
  margin-top: 64px;
}

.place__title {
  font-size: 32px;
  line-height: 1.1;
  font-weight: 900;
  margin: 50px 0 0;
  padding: 0 16px;
}

.place__title:nth-of-type(1) {
  margin: 64px 0 0;
}

.place__website {

}

.place__url-heading {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 32px 0 0;
  padding: 16px;
}

.place__link {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  text-decoration: underline;
  color: #ffffff;
  margin: 12px 0 0;
  padding: 16px;
}

.place__image {
  width: 100%;
  margin-top: 32px;
}

.place__paragraph {
  font-size: 16px;
  line-height: 1.63;
  font-weight: 400;
  margin: 25px 0 0;
  padding: 0 16px;
}

.place__paragraph:nth-of-type(1) {
  margin: 32px 0 0;
}


