.place__link {
  display: inline-block;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  text-decoration: underline;
  color: #ffffff;
  margin: 12px 0 0;
  box-sizing: border-box;
  padding: 0 16px;
  transition: opacity 0.3s ease-in-out;
}

.place__link:visited {
  color: #ffffff;
}

.place__link:hover {
  opacity: .8;
  cursor: pointer;
}

@media (min-width: 768px) {
  .place__link {
    padding: 0;
  }
}
