.place__link {
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  text-decoration: underline;
  color: #ffffff;
  margin: 0;
  box-sizing: border-box;
  padding: 0 16px;
}

.place__link:visited {
  color: #ffffff;
}

@media (min-width: 768px) {
  .place__link {
    padding: 0;
  }
}
